/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/

/*--header start here--*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #f8f8f8;
}

header {
    background-color: #ffffff;
    height: 55px;
}

article {
    width: 800px;
    margin: 0 auto 62px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    height: 42px;
    line-height: 42px;
    margin-top: 12px;
    color: #777777;
    font-size: 14px;
}

.mbx-pagination {
    background-color: #ffffff;
    margin: 20px 0;
    text-align: center;
    display: block;
    border-radius: 4px;
    padding: 20px 0;
}

.mbx-pagination li {
    margin: 0 5px;
    display: inline-block;
    line-height: 20px;
}

.mbx-pagination li a {
    position: relative;
    float: left;
    line-height: 1.42857;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.mbx-pagination li a.active {
    background-color: #fff;
    color: #969696 !important;
}

.mbx-pagination li a.dot {
    background-color: #fff;
    border: none;
    padding: 6px 0;
}

.mbx-pagination li a.current {
    background-color: #fff;
    border: none;
    font-weight: 700;
}

.mbx-header {
    width: 1000px;
    margin: 0 auto;
    vertical-align: baseline;
}

.header-container {
    display: inline-block;
    height: 55px;
    border: none;
}

.header-logo {
    width: 100px;
}

.header-logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-menu {
    width: 780px;
    text-align: end;
}

.header-menu a {
    height: 55px;
    line-height: 25px;
    padding: 18px;
    color: #666;
    cursor: pointer;
}

.header-menu a:hover {
    color: #45B6F7;
    background-color: #f5f5f5;
}

.header-other {
    width: 100px;
    text-align: center;
}

.header-other a {
    height: 55px;
    line-height: 25px;
    padding: 18px;
    color: #666;
    cursor: pointer;
}

.header-other a:hover {
    color: #45B6F7;
    background-color: #f5f5f5;
}

/*--meadia quiries start here--*/
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    body {
        min-height: 929px;
    }
}

@media (max-width: 768px) {
    body {
        min-height: auto;
    }
}

@media (max-width: 600px) {

}

@media (max-width: 480px) {
    p.copy {
        font-size: 0.9em;
        padding: 0 0.5em;
        line-height: 1.8em;
    }
}

@media (max-width: 450px) {

    body {
        min-height: 672px;
    }
}

@media (max-width: 384px) {

    body {
        min-height: 600px;
    }
}

@media (max-width: 320px) {

    body {
        min-height: 540px;
    }
}

/*--media quiries end here--*/