<!DOCTYPE HTML>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:mbx="http://www.w3.org/1999/xhtml">
<head th:replace="ms/layout::head(评论列表,评论列表)"></head>
<body>


<header th:replace="ms/layout::header"></header>

<aside>

</aside>

<article>
    <div id="comment-list" class="comment-list" th:fragment="comment-list">
        <script th:src="@{/static/js/ms/comments.js}" type="text/javascript"></script>
        <link rel="stylesheet" th:href="@{/static/css/ms/comments.css}" type="text/css">
        <div class="comment-info">
            <span class="comment-count" th:text="${result.totalElements+' 条评论'}">32条评论</span>
            <!--<a class="author-only">只看作者</a>-->
            <div class="comment-order">
                <a class="active">按时间倒序</a>
                <a class="">按时间正序</a>
            </div>
        </div>
        <div class="comment-item" th:each="comment,commentStat : ${result.content}">
            <div>
                <div class="comment-author">
                    <div class="avatar">
                        <img src="//upload.jianshu.io/users/upload_avatars/5659613/ca7881e4-7ccd-45f5-a7d2-f35dd7203dec.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114">
                    </div>
                    <div class="info">
                        <span class="nickname" th:text="${comment.nickname}"></span>
                        <div class="meta"><span
                                th:text="${(result.number*result.size+commentStat.count)+'楼 · '+#dates.format(comment.commentTime,'yyyy.MM.dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="tool-group">
                        <a class="comment-thumb" th:data-commentId="${comment.id}"><i class="iconfont icon-dianzan"></i><span>点赞</span></a>
                        <a class="comment-replay" th:data-commentId="${comment.id}"><i
                                class="iconfont icon-comments-o"></i><span>回复</span></a>
                    </div>
                </div>
                <div class="comment-content">
                    <p class="text" th:text="${comment.content}"></p>
                </div>
            </div>
        </div>
        <div class="comment-pagination">
            <ul mbx:page="${result}"/>
        </div>
    </div>
</article>

<footer th:replace="ms/layout::footer"></footer>

</body>
</html>